<h1>Shelter Name: <%=@shelter.name%></h1>
<h2>Shelter Address: <%=@shelter.address%><h2>
<h3>Contact Email: <%=@shelter.email%><h3><br>
<h4><%=link_to 'Browse Available Pets', pets_path(@shelter.pets)%> </h4>

Available Pets:
<%@shelter.pets.map do |p|%>

<ul>Name: <%=link_to p.name, pet_path(p)%></ul>
<ul>Pet Type: <%=p.pet_type%></ul>
<ul>Breed:<%=p.breed%></ul>

<%end%>
<% if current_user == @shelter.user %>
<%=link_to 'Edit your shelter information here.', edit_shelter_path(@shelter) %>
<%end%>
