<h5>All Pets:</h5> 
<div>
<h5>Filter pets:</h5>
  <%= form_tag("/pets", method: "get") do %>
    <%= select_tag "gender", options_for_select(["Boy", "Girl"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>


<div class="container">
<div class="row">
<%@pets.each do |p| %>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title"> <%=p.name%> </h5>
      <p class="card-text"><%= render partial: "pet_profile", locals: {pet: p} %></p>
   
      <a href="/pets/<%=p.id%>/apply" class="btn btn-primary">Click to Apply</a>
   
      </div>
      </div>
</div>

<%end%>
</div>
</div>

<br>
Click <%=link_to 'here', '/'%> to go to the home page.