<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h4>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user) do |f| %>
  Name: <%=f.text_field :name %><br>

  Username: <%=f.text_field :username %><br>
  Password: <%=f.password_field :password %><br>
  Email: <%=f.text_field :email %><br>
  Check if you are representing a shelter.
  <%= f.check_box :shelter_admin, {}, "true", "false" %><br>

  <%= f.submit "Create User"%>
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

