<h1>Welcome, <%=@user.name%>.</h1>
Your registered information is down below:<br>
Username: <%=@user.username%> <br>
Contact Email: <%=@user.email%><br>

<% if @user.shelter_admin == true %>
<% @user.pets.map do |p| %><br>
Manage <%= link_to p.shelter.name, shelter_path(p.shelter) %> here.<br>
<%end%>
Create a new shelter <%=link_to 'here', new_shelter_path%>.
<br>
Click <%=link_to 'here', pets_path %> to view all pets.


<%end%>