<h1>Welcome, <%=@user.name%>.</h1>
Your registered information is down below:<br>
Username: <%=@user.username%> <br>
Contact Email: <%=@user.email%><br>

<% if @user.shelter_admin == true %>
<% @user.shelters.map do |s| %>
Manage <%= link_to s.name, shelter_path(s) %> here.
<%end%>
Create a shelter <%=link_to 'here', new_shelter_path%>.
<br>
Click <%=link_to 'here', pets_path %> to view all pets.


<%end%>