<h1>Welcome, <%=current_user.name%>.</h1>
Your registered information is down below:<br>
Username: <%=current_user.username%> <br>
Contact Email: <%=current_user.email%><br>

<% if current_user.shelter_admin == true %>
<%= render partial: "if_shelter_admin", locals: {user: user} %>
<%end%>

Click <%=link_to 'here', pets_path %> to view all pets.
