<h1>Welcome to Adopt-a-Pup!</h1>
<h2>Bringing shelters and adopters together since 2019</h2>

<% if current_user == nil %>
<h3>Looking for a pet?<br>
<%=link_to 'Sign up', '/signup' %> or <%=link_to 'log in', '/login' %> to start looking at available pets.</h3>
<h4>Managing a shelter? <%=link_to 'Sign up', '/signup' %> or <%=link_to 'log in', '/login' %> to start managing your available pets.</h4>
<% elsif current_user.shelter_admin == true%>
<% current_user.shelters.map do |s| %>
Click to manage <%=link_to s.name, shelter_path(s)%>.
<%end%><br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>
<%else%>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>
<%end%>